<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>


    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.min.js"></script>
</body>
</html>
