<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta  http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta  name="viewport" content="width-device,initial-scale-1"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AccountStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="my-container">
        <div class="container-form">

            <div class="wrap-account">
                @RenderBody()
            </div>

        </div>

    </div>
   



    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.min.js"></script>
</body>
</html>
