@model MyApp.Models.Setting


<div>
    <img src="~/images/Logo/@Model.Logo" alt="@Model.Name" width="150" height="150" class="img-responsive" style="margin:auto"/>
    <br />
    <p class="text-center" style="color:black; font-size:18px;" > شماره تماس:@Model.Tel</p>
    <br />
    <p class="text-center" style="color:black; font-size:18px;"> شماره فکس:@Model.Fax</p>
    <br />
    <p class="text-center" style="color:black; font-size:18px;"> شماره همراه:@Model.Mobile</p>
    <br />
    <p class="text-center" style="color:black; font-size:18px;"> شماره آدرس:@Model.Address</p>
</div>
