
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGender.cshtml";
}

<div>
    <img src="~/images/Banner/@ViewBag.myimg"class="img-responsive mygenderbaner" style="margin:auto"/>

</div>
@Html.Action("Filter", "Gender", new { @Id=ViewBag.CatId})
@Html.Action("ShowProduct", "Gender", new { @Id = ViewBag.CatId })