
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGender.cshtml";
}

<div style="margin:50px">
    <img src="~/images/Banner/@ViewBag.myimg"class="img-responsive mygenderbaner" style="margin:auto"/>

</div>
